/*définir la font*/
body{
    text-align: center;
    background-color:#5D6D7E;
    width:90%;
    font-family:Arial;
    font-size:1.5em; 
}
/*enlever la ligne du a*/
a{
    text-decoration: none;
    
}
/*positionnement de la barre du dessus qui va rester à la même place en tout temps*/
.head{
    position:fixed;
    background-color:#5D6D7E;
    width:100%;
    height:7em;
    top:0px;
    left:0px;
    z-index: 1;
}
/*menu qui descent au lieu d'avoir un menu qui montre tout du début*/
.dropdown{
    position:relative;
    display:block;
    border-radius: 10px;
    color:black;
    
}
.dropdown a{
    color:black;
}
.dropdown a:hover{
    color:red;
}
.dropdown img{
    position:fixed;
    top:40px;
    left:40px;
    width:30px;
    height:30px;
}
.dropdown img:hover{
    content:url("../Images/hamburgersWhite2.png");
}
.dropdown-content{
    display:none;
    position:absolute;
    background-color:white;
    top:70px;
    left:40px;
    min-width:50px;
    max-width: 100px;
    z-index:2;
    border-radius:10px ;
    padding:1em;
    
}


.dropdown:hover .dropdown-content{
    display:inline-block;

}
/*positionnement de mon logo d'entreprise*/
.logo{
    width:150px;
    height:150px;
    position:fixed;
    top:10px;
    right:10px;
}
/*positionnement de mon background avec une image*/
.headerimg{
    position:fixed;
    background-size: cover;
    left:0px;
    z-index:-1;
}
/*style pour les boîtes de texte*/
.sub{
    position: relative;
    background-color:rgba(153, 163, 164, 0.95);
    color:white;
    border-radius: 25px;
    left:5%;
    top:170px;
    padding:1em;
    margin:1em;
}

.sub a{
    color:white;
}
/*positionnement pour les boîtes qui contiennent des vidéos*/
.sub1{
    position:relative;
    display:block;
    background-color:rgba(153, 163, 164, 0.95);
    flex-wrap:wrap;
    border-radius: 25px;
    left:5%;
    top:170px;
    text-align: center;
    align-items: center;
}
.sub1 h1{
    margin:1em;
    padding:1em;
}
/*donner une couleur et une grosseur aux balises h1 et h2*/
h1{
    font-size:1em;
    color:white;
}
h2{
    font-size:0.8em;
    color:white;
}
/*positionnement pour le footer*/
.button{
    position:relative;
    top:15em;
    left:5%;
    right:5%;
    border-radius: 25px;
    background-color:rgba(153, 163, 164, 0.95);
    color:white;
    padding:1em;
    
}
.button a{
    color:white;
}
ul{
    list-style-type:none;
}
/*positionnement des vidéos dans le sub1*/
.video{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
/*donner un espacement entre les vidéos*/
.videos{
    margin:1em;
    padding:1em;
}
/*démontrer la size pour les vidéos de type shorts*/
.shorts{
    width:450px;
    height:800px;
}
/*démontrer la size pour les vidéos normaux*/
.full{
    
    margin:1em;
    width:800px;
    height:400px;
}
/*comment les div sont arragées pour les employés*/
.employees{
    margin:1em;
    position:relative;
    left:5%;
    right:10%;
    top:10em;
    color:white;
    display:inline-block;
    background-color:rgba(153, 163, 164, 0.95);
    z-index:0;
    border-radius: 25px;
        
}
.employees img{
    width:10%;
    height:10%;
    position:relative;
    left:10px;
    border-radius: 10px;
}
.easteregg:hover{
    content:url("../Images/Snowden1.jpg");
}
/*positionnement du logo html/css*/
footer .button img{
    position:relative;
    bottom:0px;
    left:0px; 
}
/*un petit flare rouge dans le contact*/
.red{
    color:red;
    font-size:1.5em;

}
/*positionnement du contact, des mots*/
#contact{
    display:inline-flex;
    margin:1em;
    position:relative;
    left:5%;
    flex-wrap: wrap;
    justify-content:center;
}
/*positionnement de la div qui va contenir la form*/
.contact_form{
    position:relative;
    top:200px;
    margin:1em;
    display:inline-flex;
    width:40%;
    flex-wrap: wrap;
    color:white;
    background-color:rgba(153, 163, 164, 0.95);
    border-radius: 25px;
    padding:1em;
    justify-content: center;
}
/*display de la form*/
form{
    display:block;
    justify-content: center;
    
}
/*site web adaptatif, changement d'images, enlàvement de certaines parties pour que le site aie l'air plus beau et pour prévenir la majorité des overlaps de texte/images*/
@media only screen
and (min-width:0px)
and (max-width:750px) {
    #words{
        display: none;
    }
    
}
@media only screen
and (min-width:1201px)
and (max-width:1480px) {
    .headerimg{
        content:url("../Images/headerimg2.jpeg");
        
    }
    
}
@media only screen
and (min-width:901px)
and (max-width:1200px) {
    .headerimg{
        content:url("../Images/headerimg3.jpeg");
    }
    .contact_form{
        width:100%;
    }
}
@media only screen
and (min-width:0px)
and (max-width:900px) {
    .headerimg{
        content:url("../Images/headerimg1.jpeg");
    }
    
    .contact_form{
        width:100%;
    }
}
@media only screen
and (min-width:1921px)
and (max-width:10000px) {
    .headerimg{
        content:url("../Images/headerimg4.jpg");
        /*référence pour mon image de background en 4k*/
        /*<a href="https://www.freepik.com/free-photo/fuji-mountain-with-milky-way-night_10695684.htm#query=4k%20wallpaper&position=27&from_view=keyword&track=ais&uuid=a4e3cbe5-dbf2-4b6f-b178-8051ef247a72">Image by tawatchai07</a> on Freepik*/
    }
    
}